
<div class="row">  
    <h2>{{period_title}}</h2>
    <p>Period from <strong>{{results.beginDate | date:'medium'}}</strong> to <strong>{{results.endDate |  date:'medium'}}</strong></p>
  
    <div class="btn-group">
        <button type="button" class="btn btn-default" ng-click="showDaily()">Daily</button>
        <button type="button" class="btn btn-default" ng-click="showWeekly()">Weekly</button>
        <button type="button" class="btn btn-default" ng-click="showMonthly()">Monthly</button>
        <button type="button" class="btn btn-default" ng-click="showYearly()">Yearly</button>
        <button type="button" class="btn btn-default" ng-click="showCustom()">Custom</button>
    </div>
   
</div>


    <div class="row" ng-show="hasValues">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Temperatures</h3>
                </div>
                <div class="panel-body">
                    <highchart id="chartTemps" config="chartConfigTemp" ></highchart>

                    <table class="table table-condensed table-bordered" >
                        <thead><tr><th></th><th>Min</th><th>Max</th><th>Avg</th></tr></thead>
                        <tbody>
                        <tr><td>Indoor</td><td>{{results.getMeasures("temp_in") | min}}°C</td><td>{{results.getMeasures("temp_in")| max}}°C</td><td>{{results.getMeasures("temp_in") | avg : 1}}°C</td></tr>
                        <tr><td> Outdoor</td><td>{{results.getMeasures("temp_out") | min}}°C</td><td>{{results.getMeasures("temp_out") | max}}°C</td><td>{{results.getMeasures("temp_out") | avg : 1}}°C</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Humidity</h3>
                    </div>
                <div class="panel-body">
                    <highchart id="chartHum" config="chartConfigHum" ></highchart>

                    <table class="table table-condensed table-bordered" >
                        <thead><tr><th></th><th>Min</th><th>Max</th><th>Avg</th></tr></thead>
                        <tbody>
                            <tr><td>Indoor</td><td>{{results.getMeasures("rel_hum_in") | min}}%</td><td>{{results.getMeasures("rel_hum_in") | max}}%</td><td>{{results.getMeasures("rel_hum_in") | avg : 1}}%</td></tr>
                            <tr><td>Outdoor</td><td>{{results.getMeasures("rel_hum_out") | min}}%</td><td>{{results.getMeasures("rel_hum_out") | max}}%</td><td>{{results.getMeasures("rel_hum_out") | avg : 1}}%</td></tr>
                        </tbody>
                    </table>
               </div>
            </div>
        </div>
    </div>

    <div class="row" ng-show="hasValues">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Pressure</h3>
                </div>
                <div class="panel-body">

                    <highchart id="chartPressure" config="chartConfigPressure" ></highchart>

                    <table class="table table-condensed table-bordered" >
                        <thead><tr><th></th><th>Min</th><th>Max</th><th>Avg</th></tr></thead>
                        <tbody>
                            <tr><td>Rel. Pressure</td><td>{{results.getMeasures("rel_pressure") | min}} hPa</td><td>{{results.getMeasures("rel_pressure") | max}} hPa</td><td>{{results.getMeasures("rel_pressure") | avg : 1}} hPa</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
          <div class="col-lg-6">
              <div class="panel panel-primary">
                  <div class="panel-heading">
                      <h3 class="panel-title">Wind</h3>
                  </div>

                     <highchart id="chartWind" config="chartConfigWind" ></highchart>

                     <table class="table table-condensed table-bordered" >
                        <thead><tr><th></th><th>Min</th><th>Max</th><th>Avg</th></tr></thead>
                        <tbody>
                            <tr><td>Wind</td><td>{{results.getMeasures("windspeed") | min}} m/s</td><td>{{results.getMeasures("windspeed") | max}} m/s</td><td>{{results.getMeasures("windspeed") | avg : 2}} m/s</td></tr>
                        </tbody>
                    </table>
              </div>
          </div>
        </div>
    </div>





